





    
   
    
   







/* /////////////////////////////////// */


.about-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
   
 
    
}
.about-card{

    display: flex;
    flex-direction: column;
    align-items: center;
    background:
    linear-gradient(
        rgba(255, 255, 255, 0.6)  11.2%,
        rgba(255, 255, 255, 0.6) 92.5%
        ),
    linear-gradient(
        109.6deg,
        rgb(0, 191, 255)  11.2%,
        rgb(49, 0, 210) 92.5%
      );
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
   
 
    
    
}
.picture{

    border: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    box-sizing: border-box;
}
.picture-container{
    display: flex;
    align-items: center;
}

.me{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    font-weight: 600;
    box-sizing: border-box;
    

}

.info{
    max-width: 500px;
    text-align: justify;
    box-sizing: border-box;
   
}

.name{
    width: 100%;
    padding-block: 5px;
    color:rgb(255, 255, 255);
    background-color: #272d32;
    font-weight: 900;
    text-align: center;
    box-sizing: border-box;
    font-size:xx-large;
}

.item{
    padding: 20px;
}

.contactme{
    margin: 40px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    font-weight: 700;
    padding: 20px;

}

.arrow{
    animation-name: downuploop ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes downuploop {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(20px);
    }

    100%{
        transform: translateY(0px);
    }
}