



.home-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    min-height: 100vh;
   
    
}

.home-about{
    background-color: #161c24;
}



.section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid white;
    
    
}


/*           CARD         */
.card{

    
    width: 100%;
    max-width: 730px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    font-weight: 400;
    box-sizing: border-box;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    overflow:auto;
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.7)  11.2%,
        rgba(0, 0, 0, 0.7) 92.5%
        ),
    linear-gradient(
        109.6deg,
        rgb(0, 191, 255)  11.2%,
        rgb(115, 0, 255) 92.5%
      );
    box-shadow: 10px 10px 15px #000000;
    border-radius: 16px;
    margin-bottom: 50px;
    padding-inline: 2vh;
   
    
}



.card-date{
    text-align: end;
    color: rgb(0, 242, 255);
    font-size: 11px;
}


.card-img{
    width: 100%;
    max-width: 730px;
    box-sizing: border-box;
    max-height: 400px;
    object-fit: cover;
   
    
}



.card-description{
    margin-block: 10px;
    text-align: justify;
   
    

    
}


.card-header{
    padding-top: 20px;
    padding-bottom: 5px;
}

.card-a{
    color: #87fbff;
    text-decoration: none;
    
}

.card-expand{
    padding-left: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: justify;
}

.card-links{
    display: flex;
   flex-wrap: wrap;
    gap: 20px;
    padding-block: 1vh;


}
.card-link, .card-link:visited{
    color: #87fbff;
    font-weight: 500;
    text-decoration: none;
}

/* ///////////////////// */










.wheel{
    position:sticky;
    bottom: 0px;
    width: 90%;
    gap: 2vh;
    max-width: 730px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
    margin: 2vh;

  
 

    
}


.btn-wheel{

    width: 55px;
    height: 40px;
    border: none;
    background:
    linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.2)  50%,
        rgba(0, 0, 0, 0.4) 50%
        ),
        linear-gradient(
            109.6deg,

            rgb(0, 191, 255)  11.2%,
            rgb(115, 0, 255) 92.5%
          );
          

    color:rgb(0, 0, 0);
    z-index: 10;
    cursor: pointer;

    

    
}
.btn-next{
  
    z-index: 100px;
 

    -webkit-clip-path: polygon(0 12%, 20% 50%, 0 88%, 20% 100%, 100% 50%, 20% 0);
    clip-path: polygon(0 12%, 20% 50%, 0 88%, 20% 100%, 100% 50%, 20% 0);

}

.btn-back{

    z-index: 100px;
    

    -webkit-clip-path: polygon(100% 12%, 80% 49%, 100% 88%, 80% 100%, 0% 50%, 80% 0);
    clip-path: polygon(100% 12%, 80% 50%, 100% 88%, 80% 100%, 0% 50%, 80% 0);

}

.ball-container{
    display: flex;
    
    align-items: center;
    width: 100%;
    border-radius: 30px;
    height: 10px;
    overflow: hidden;
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.7)  11.2%,
        rgba(0, 0, 0, 0.7) 92.5%
        ),
    linear-gradient(
        109.6deg,
        rgb(0, 191, 255)  11.2%,
        rgb(115, 0, 255) 92.5%
      );
    
}



.progresive-bar{
    height: 10px;
    width: 0;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    background:
    linear-gradient(
        90deg,
        rgb(255, 185, 93)  11.2%,
        rgb(255, 0, 0) 92.5%
      );
}


/* ////////////ANIMATIONS////////////////// */



.moveright{
    animation-name: moveright;
    
}
.move-left{
    animation-name: move-left;
    
}

.moveleft{
    animation-name: moveleft;
   
}
.move-right{
    animation-name: move-right;
    
}

.disappear{
    animation-name: disappear;
    animation-duration: 2s;
}

.appear{
    animation-name: appear;
    animation-duration: 2s;
}

@keyframes appear {
    from{
        filter: opacity(0%);
        
     }
     to{
        transform: translateX(0px);
        
 
     }
}

@keyframes moveleft {
    from{
        filter: opacity(0%);
        transform: translateX(-30px);
     }
     to{
        transform: translateX(0px);
        filter: opacity(100%);
 
     }

}

@keyframes moveright {
    from{
        filter: opacity(0%);
        transform: translateX(30px);
     }
     to{

        filter: opacity(100%);
        transform: translateX(0);
    }

}

@keyframes move-left {
    from{
        filter: opacity(0%);
        transform: translateX(-30px);
     }
     to{
        transform: translateX(0px);
        filter: opacity(100%);
 
     }
}

@keyframes move-right {
    from{
        filter: opacity(0%);
        transform: translateX(30px);
     }
     to{

        filter: opacity(100%);
        transform: translateX(0);
    }

}



@keyframes disappear{
    from{
        filter: opacity(100%);
     }
     to{
         filter: opacity(0%);
 
     }
}