body{
    
    display: flex;
    color: #fafafa;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: var(--text-size-medium);
    

    
   
}

#__next{
    width: 100%;
    overflow: hidden;
   

}

#background{
    left: 0;
    top: 0;
    position: fixed;
    z-index: -100;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #2A475E; 
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); 
    background-image: linear-gradient( 109.6deg,  rgb(3, 103, 136) 11.2%, rgba(51,8,103,1) 92.5% );
    background-repeat: no-repeat;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    
}

#app{
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    

    
}

.container-v{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.container{
    display: flex;
    justify-content: center;
    
    
   
}


section{
    width: 100%;
    
}

input, textarea, button{
    font-size: var(--text-size-small);
}



.container-h{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title{
    margin-top: 60px;
    text-align: center;
    color: rgb(241, 255, 254);
    transition-duration: 1s;
    font-size: var(--title-size-m);
}

.title:hover{
   letter-spacing:10px;
 
  
   transition-timing-function: ease;
    color: rgb(255, 255, 255);
}


.push:hover{
    
   
    
    cursor: pointer;
    
   
   
}
.a-push , .a-push:visited{
    color: white;
    text-decoration: none;

}

/*            NOTFOUND             */

.loading{
    display: flex;
    margin: 100px ;
    width: 100px;
    height: 100px;
    animation-name: load;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function:ease;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
  
    
}

.point{
    background-color: white;
    border-radius: 50%;
}


.point:nth-child(1){
  transform: translate(-4px,10px);
    width: 20px;
    height: 20px;
}
.point:nth-child(2){
    transform: translate(-5px, -5px);
    

    width: 15px;
    height: 15px;
}
.point:nth-child(3){
    transform: translate(0px, -6px);

    width: 10px;
    height: 10px;
}

.point:nth-child(4){
    transform: translate(5px, -2px);

    width: 5px;
    height: 5px;
}


@keyframes load {
    0%{
        transform: rotate(360deg);
    }


}


/* --------------RESPONSE ERROR------------ */


#response-error{
    display: none;
    background-color: rgb(255, 255, 255);
    color: red;
    border-radius: 20px;
    padding: 5px;
    font-weight: 1000;
    margin: 100px ;
}

/* ----------- ROOT --------------------- */


:root {

   
    --text-size-small:14px;
    --text-size-medium:19px;
    --title-size-m: 3.2rem;
    --title-size-s: 2.1rem;
   
}

/* --------- MEDIA RESPONSIVE DESING--------- */

@media all and (max-width: 600px) {
        
   .title{
        font-size: var(--title-size-s);
   
    }


    
    body{
        font-size: var(--text-size-small);
    }


 

}