.msg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-block: 100px ;
}

.msg{
    padding: 1vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    gap: 10px;
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.7)  11.2%,
        rgba(0, 0, 0, 0.7) 92.5%
        ),
    linear-gradient(
        109.6deg,
        rgb(0, 191, 255)  11.2%,
        rgb(115, 0, 255) 92.5%
      );
    /* box-shadow: 1px 1px 10px #c2acac; */
   
    width: 100vw;
    border-radius: 16px;
    font-weight: 600;
    max-width: 700px;
}

.msg-name{
    color: #00ff88;
    font-weight: 300;
    align-self: center;
}

.msg-message{
    
    padding: 2vw;
    font-weight: 400;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #14171d;
    
}
.msg-date{

    font-weight: 400;
    color: #f199ff;
    align-self: flex-end;
}
.msg-contact{
    color: #e9f2c6;
    font-weight: 400;

    align-self: flex-end;
    
}
.mini-space{
    padding-bottom: 20px;
}