.form-new{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: center;

    align-items: center;
    
}

.input-new{
    padding: 10px;
    background-color: transparent;
    width: 400px;
   
    outline: none;
    box-shadow: none;
    border: none;
    /* border-left: 0.2vw solid rgba(0, 0, 0, 0.63); */
    background: rgba(20, 25, 35, 0.792);
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.27) 10%, rgba(255,255,255,0) 100%); */
    color: #aad3e5;
 
    font-size: 20px;
}