.skill{

    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    padding: 20px;
    color: rgb(17, 17, 19);
    

    
}


.skill-container{

    width: 96vw;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    max-width: 750px;
    
  
   
   
      

}

#band{
    
    display: flex;
    animation-duration: 20s;
    animation-name: as;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(.75,.75,.75,.75);
    /* animation-play-state: paused; */

}
.skill-icon{
    
    
    width: 80px;
    height: 80px;
}


.title-skill{
    color: rgb(67, 62, 62);
    padding-left: 1vh;
}

@keyframes as{
    0%{
        
    }
    100%{
        transform: translateX(-50%);
    }
}

