

.img-container{

    
    height: min-content;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.img{
    width: 100%;
    max-width: 730px;
    

}

.mypost{
    width: 100%;
    max-width: 730px;
    background-color: #0e1315;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 5px 10px 20px #000000;
    border-radius: 16px;
    gap: 20px;
    box-sizing: border-box;
    padding: 30px;
    
   
}

.posts-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-bottom: 80px;
    animation-name: appear;
    animation-duration: 2s;
}

.post-title{
    width: 100%;
    font-size: 30px;
    justify-self: flex-start;
    align-self: flex-start;
    border-top-right-radius:16px ;
    border-top-left-radius:16px ;
   
}
.post-description{
    width: 100%;
    /* padding: 30px; */
    align-self: flex-end;

    

}




.moveright{
    animation-name: moveright;
    
}
.move-left{
    animation-name: move-left;
    
}

.moveleft{
    animation-name: moveleft;
   
}
.move-right{
    animation-name: move-right;
    
}

.disappear{
    animation-name: disappear;
    animation-duration: 2s;
}

.appear{
    animation-name: appear;
    animation-duration: 2s;
}

@keyframes appear {
    from{
        filter: opacity(0%);
        
     }
     to{
        transform: translateX(0px);
        
 
     }
}

@keyframes moveleft {
    from{
        filter: opacity(0%);
        transform: translateX(-30px);
     }
     to{
        transform: translateX(0px);
        filter: opacity(100%);
 
     }

}

@keyframes moveright {
    from{
        filter: opacity(0%);
        transform: translateX(30px);
     }
     to{

        filter: opacity(100%);
        transform: translateX(0);
    }

}

@keyframes move-left {
    from{
        filter: opacity(0%);
        transform: translateX(-30px);
     }
     to{
        transform: translateX(0px);
        filter: opacity(100%);
 
     }
}

@keyframes move-right {
    from{
        filter: opacity(0%);
        transform: translateX(30px);
     }
     to{

        filter: opacity(100%);
        transform: translateX(0);
    }

}



@keyframes disappear{
    from{
        filter: opacity(100%);
     }
     to{
         filter: opacity(0%);
 
     }
}